body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1408px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:2px;
}
#u15840 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:82px;
  width:1156px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.186937317364148deg);
  -moz-transform:rotate(-0.186937317364148deg);
  -ms-transform:rotate(-0.186937317364148deg);
  transform:rotate(-0.186937317364148deg);
}
#u15840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u15841 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:61px;
  width:113px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u15841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:768px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:768px;
  display:flex;
}
#u15842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:183px;
  height:29px;
  display:flex;
}
#u15844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#888888;
  line-height:24px;
}
#u15845 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:46px;
  width:25px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#888888;
  line-height:24px;
}
#u15845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:183px;
  height:28px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15848 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:74px;
  width:61px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15850 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:79px;
  width:14px;
  height:6px;
  display:flex;
}
#u15850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15851 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:87px;
  width:14px;
  height:6px;
  display:flex;
}
#u15851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u15852 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:81px;
  width:1px;
  height:1px;
  display:flex;
}
#u15852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u15853 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:89px;
  width:1px;
  height:1px;
  display:flex;
}
#u15853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u15854 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:84px;
  width:7px;
  height:4px;
  display:flex;
}
#u15854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:183px;
  height:28px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15857 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:102px;
  width:61px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15857_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15859 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:107px;
  width:14px;
  height:6px;
  display:flex;
}
#u15859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15860 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:115px;
  width:14px;
  height:6px;
  display:flex;
}
#u15860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u15861 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:109px;
  width:1px;
  height:1px;
  display:flex;
}
#u15861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u15862 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:117px;
  width:1px;
  height:1px;
  display:flex;
}
#u15862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u15863 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:112px;
  width:7px;
  height:4px;
  display:flex;
}
#u15863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:183px;
  height:28px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15866 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:186px;
  width:51px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15866_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15868 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:191px;
  width:14px;
  height:6px;
  display:flex;
}
#u15868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15869 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:199px;
  width:14px;
  height:6px;
  display:flex;
}
#u15869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u15870 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:193px;
  width:1px;
  height:1px;
  display:flex;
}
#u15870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u15871 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:201px;
  width:1px;
  height:1px;
  display:flex;
}
#u15871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u15872 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:196px;
  width:7px;
  height:4px;
  display:flex;
}
#u15872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:183px;
  height:28px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15875 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:214px;
  width:81px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15877 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:219px;
  width:14px;
  height:6px;
  display:flex;
}
#u15877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15878 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:227px;
  width:14px;
  height:6px;
  display:flex;
}
#u15878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u15879 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:221px;
  width:1px;
  height:1px;
  display:flex;
}
#u15879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u15880 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:229px;
  width:1px;
  height:1px;
  display:flex;
}
#u15880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u15881 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:224px;
  width:7px;
  height:4px;
  display:flex;
}
#u15881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(45, 45, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:183px;
  height:28px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15884 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:158px;
  width:61px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:0.583333333333333px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1.16666666666667px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15886 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:165px;
  width:11px;
  height:11px;
  display:flex;
}
#u15886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u15887 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:169px;
  width:11px;
  height:1px;
  display:flex;
}
#u15887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(45, 45, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:183px;
  height:28px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15890 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:130px;
  width:61px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  line-height:24px;
}
#u15890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:0.583333333333333px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1.16666666666667px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15892 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:137px;
  width:11px;
  height:11px;
  display:flex;
}
#u15892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u15893 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:141px;
  width:11px;
  height:1px;
  display:flex;
}
#u15893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:44px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15898 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:7px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u15899 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:10px;
  width:25px;
  height:24px;
  display:flex;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u15899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15901_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:6px;
}
#u15901 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:26px;
  width:16px;
  height:4px;
  display:flex;
}
#u15901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u15902 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:16px;
  width:8px;
  height:8px;
  display:flex;
}
#u15902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u15903 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:11px;
  width:23px;
  height:23px;
  display:flex;
}
#u15903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u15905 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:8px;
  width:31px;
  height:31px;
  display:flex;
}
#u15905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 72, 72, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u15906 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:8px;
  width:17px;
  height:10px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u15906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:26px;
}
#u15907 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:10px;
  width:57px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:26px;
}
#u15907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15909_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:16px;
  height:5px;
}
#u15909 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:16px;
  width:13px;
  height:2px;
  display:flex;
}
#u15909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15910_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:16px;
  height:5px;
}
#u15910 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:23px;
  width:13px;
  height:2px;
  display:flex;
}
#u15910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15911_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:16px;
  height:5px;
}
#u15911 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:29px;
  width:13px;
  height:2px;
  display:flex;
}
#u15911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15912_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:5px;
}
#u15912 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:16px;
  width:2px;
  height:2px;
  display:flex;
}
#u15912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15913_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:5px;
}
#u15913 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:23px;
  width:2px;
  height:2px;
  display:flex;
}
#u15913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15914_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:5px;
}
#u15914 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:29px;
  width:2px;
  height:2px;
  display:flex;
}
#u15914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u15915 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:10px;
  width:56px;
  height:26px;
  display:flex;
}
#u15915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15916 {
  position:absolute;
  left:1049px;
  top:12px;
}
#u15916_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15916_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15916_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u15916_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:783px;
}
#u15919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:783px;
  display:flex;
}
#u15919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
