body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:86px;
  width:350px;
  height:270px;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:88px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:0px;
  width:88px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:86px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:30px;
  display:flex;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:30px;
  width:88px;
  height:30px;
  display:flex;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:30px;
  width:88px;
  height:30px;
  display:flex;
}
#u166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:30px;
  width:86px;
  height:30px;
  display:flex;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:88px;
  height:30px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:60px;
  width:88px;
  height:30px;
  display:flex;
}
#u169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:60px;
  width:88px;
  height:30px;
  display:flex;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:60px;
  width:86px;
  height:30px;
  display:flex;
}
#u171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:88px;
  height:30px;
  display:flex;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:90px;
  width:88px;
  height:30px;
  display:flex;
}
#u173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:90px;
  width:88px;
  height:30px;
  display:flex;
}
#u174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:90px;
  width:86px;
  height:30px;
  display:flex;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:88px;
  height:30px;
  display:flex;
}
#u176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:120px;
  width:88px;
  height:30px;
  display:flex;
}
#u177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:120px;
  width:88px;
  height:30px;
  display:flex;
}
#u178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:120px;
  width:86px;
  height:30px;
  display:flex;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:88px;
  height:30px;
  display:flex;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:150px;
  width:88px;
  height:30px;
  display:flex;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:150px;
  width:88px;
  height:30px;
  display:flex;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:150px;
  width:86px;
  height:30px;
  display:flex;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:88px;
  height:30px;
  display:flex;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:180px;
  width:88px;
  height:30px;
  display:flex;
}
#u185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:180px;
  width:88px;
  height:30px;
  display:flex;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:180px;
  width:86px;
  height:30px;
  display:flex;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:88px;
  height:30px;
  display:flex;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:210px;
  width:88px;
  height:30px;
  display:flex;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:210px;
  width:88px;
  height:30px;
  display:flex;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:210px;
  width:86px;
  height:30px;
  display:flex;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:88px;
  height:30px;
  display:flex;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:240px;
  width:88px;
  height:30px;
  display:flex;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:240px;
  width:88px;
  height:30px;
  display:flex;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:240px;
  width:86px;
  height:30px;
  display:flex;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:49px;
  width:199px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:20px;
  width:131px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:22px;
  width:21px;
  height:21px;
  display:flex;
}
#u199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u200 {
  position:absolute;
  left:0px;
  top:387px;
  visibility:hidden;
}
#u200_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:280px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u200_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:280px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:280px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#09BB07;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:60px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:60px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#CCCCCC;
}
.u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  display:flex;
  font-size:15px;
  color:#CCCCCC;
}
.u206 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#CCCCCC;
}
.u207 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:32px;
  display:flex;
  font-size:15px;
  color:#CCCCCC;
}
.u207 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#CCCCCC;
}
.u208 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:32px;
  display:flex;
  font-size:15px;
  color:#CCCCCC;
}
.u208 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#CCCCCC;
}
.u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  display:flex;
  font-size:15px;
  color:#CCCCCC;
}
.u209 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u205-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u205-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:375px;
  height:32px;
}
#u205-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:32px;
}
#u205-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:375px;
  height:32px;
}
#u205-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:375px;
  height:32px;
}
#u205-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:375px;
  height:32px;
}
#u205-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:375px;
  height:32px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:375px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:375px;
  height:32px;
  display:flex;
  font-size:15px;
  color:#000000;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:152px;
  width:125px;
  height:32px;
  display:flex;
  font-size:15px;
  color:#000000;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:152px;
  width:125px;
  height:32px;
  display:flex;
  font-size:15px;
  color:#000000;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:125px;
  height:32px;
  display:flex;
  font-size:15px;
  color:#000000;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
