body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2069px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1383px;
  height:768px;
}
#u13200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1383px;
  height:768px;
  display:flex;
}
#u13200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:768px;
}
#u13201 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:788px;
  width:1385px;
  height:768px;
  display:flex;
}
#u13201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13202 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:959px;
  width:622px;
  height:102px;
  display:flex;
}
#u13202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13203 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:115px;
  width:170px;
  height:45px;
  display:flex;
}
#u13203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13204 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:900px;
  width:170px;
  height:45px;
  display:flex;
}
#u13204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
