body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2069px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1383px;
  height:768px;
}
#u15215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1383px;
  height:768px;
  display:flex;
}
#u15215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:768px;
}
#u15216 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:788px;
  width:1385px;
  height:768px;
  display:flex;
}
#u15216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15217 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:959px;
  width:622px;
  height:102px;
  display:flex;
}
#u15217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15218 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:115px;
  width:170px;
  height:45px;
  display:flex;
}
#u15218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15219 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:900px;
  width:170px;
  height:45px;
  display:flex;
}
#u15219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
