body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2069px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1383px;
  height:768px;
}
#u9396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1383px;
  height:768px;
  display:flex;
}
#u9396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:768px;
}
#u9397 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:788px;
  width:1385px;
  height:768px;
  display:flex;
}
#u9397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9398 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:959px;
  width:622px;
  height:102px;
  display:flex;
}
#u9398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9399 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:115px;
  width:170px;
  height:45px;
  display:flex;
}
#u9399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9400 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:900px;
  width:170px;
  height:45px;
  display:flex;
}
#u9400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
